@font-face {
    font-family: "Peyda";
    src: url("../fonts/Peyda.eot") format("eot");
    src: local("Peyda");
    src: url("../fonts/Peyda.ttf") format("truetype"),
      url("../fonts/Peyda.woff") format("woff"),
      url("../fonts/Peyda.woff2") format("woff2"),
      url("../fonts/Peyda.svg") format("svg");  
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANYekanLight";
    src: url("../fonts/IRANYekanLight.eot") format("eot");
    src: local("IRANYekanLight");
    src: url("../fonts/IRANYekanLight.ttf") format("truetype"),
      url("../fonts/IRANYekanLight.woff") format("woff"),
      url("../fonts/IRANYekanLight.woff2") format("woff2"),
      url("../fonts/IRANYekanLight.svg") format("svg"); 
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  
  }
  @font-face {
    font-family: "IRANYekanBold";
    src: url("../fonts/IRANYekanBold.eot") format("eot");
    src: local("IRANYekanBold");
    src: url("../fonts/IRANYekanBold.ttf") format("truetype"),
      url("../fonts/IRANYekanBold.woff") format("woff"),
      url("../fonts/IRANYekanBold.woff2") format("woff2"),
      url("../fonts/IRANYekanBold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
body , html{
  overflow-x: hidden;
    /* background: #192A56 !important; */
    background:rgb(38, 48, 75) !important

}